In [151]:
import requests
import json
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.firefox.options import Options 
from selenium.webdriver.firefox.firefox_binary import FirefoxBinary 
from selenium.webdriver.common.by import By
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import time

In [ ]:
Citroen = ['011198-8','011226-7' ]
Fiat = ['001519-9', '001505-9', '001536-9', '001544-0']
Ford = ['003438-0', '003457-6']
GM = ['004469-5', '004511-0', '004501-2', '004534-9', '004525-0']
Honda = ['014108-9', '014109-7']
Hyundai = ['015190-4', '015165-3', '015206-4', '015138-6']
Nissan = ['023178-9', '023175-4']
Peugeot = ['024249-7']
Renault = ['025307-3', '025300-6', '025266-2', '025290-5']
VW = ['005490-9', '005525-5', '005536-0', '005510-7', '005485-2']

In [ ]:
SQLALCHEMY_DATABASE_URI = 'mysql://root:root@localhost:3306/fipe'

engine = create_engine(SQLALCHEMY_DATABASE_URI)

SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

session = SessionLocal()

Base = declarative_base()

Base.metadata.create_all(bind=engine)

In [ ]:
url = 'https://parallelum.com.br/fipe/api/v2/cars/brands'
params = {}
response = requests.request('GET',url, params=params)
obj = json.loads(response.text)
print(obj)

df_filter = [ '23', '13', '21', '22', '25', '26', '43', '44','48', '59']
df_marcas = pd.DataFrame(obj)
df_marcas=df_marcas[df_marcas['code'].isin(df_filter)]
df_marcas.dropna(inplace=True)
df_marcas.rename(columns={ 'name': 'marca'}, inplace=True)
df_marcas.to_sql('marca', con=engine, if_exists='append', index=False)

df_marcas

In [ ]:
for i in range(10):
    x = df_marcas['code'].iloc[i]
    url = 'https://parallelum.com.br/fipe/api/v2/cars/brands/' + x + '/models'
    params = {}
    response = requests.request('GET',url, params=params)
    obj = json.loads(response.text)
    df_teste = pd.DataFrame(obj)
    df_teste.rename(columns={'code':'codigo', 'name': 'model'}, inplace=True)
    df_teste.insert(1, 'code', df_marcas['code'].iloc[i])
    df_teste.dropna(inplace=True)
    for j in range(len(df_teste)):
        x = df_marcas['code'].iloc[i]
        y = df_teste['codigo'].iloc[j]
        url2 = 'https://parallelum.com.br/fipe/api/v2/cars/brands/'+ x + '/models/'+ y +'/years'
        params = {}
        response = requests.request('GET',url2, params=params)
        obj = json.loads(response.text)
        df_ano = pd.DataFrame(obj)
        df_ano.rename(columns={'code':'Ano', 'name': 'anomod'},  inplace=True)
        df_ano.insert(1, 'codigo', df_teste['codigo'].iloc[j])
        df_ano.dropna(inplace=True)
        for k in range(len(df_ano)):
            l = 0
            x = df_marcas['code'].iloc[i]
            y = df_teste['codigo'].iloc[j]
            z = df_ano['Ano'].iloc[k]
            url3 = 'https://parallelum.com.br/fipe/api/v2/cars/brands/' + x + '/models/' + y + '/years/' + z
            params = {}
            response = requests.request('GET',url3, params=params)
            obj = json.loads(response.text)
            print(obj)
            df_preco = pd.DataFrame(obj, index=[l])
            df_preco.rename(columns={'code':'codigo', 'name': 'anomod', 'fipe_name':'modelo', 'price':'preco'},  inplace=True)
            df_preco.insert(1, 'codigo', df_teste['codigo'].iloc[j])
            df_preco.insert(2, 'Ano', df_ano['Ano'].iloc[k])
            df_preco.dropna(inplace=True)
            df_preco.to_sql(name='info', con=engine, index=False, if_exists='append')
            l = l + 1

In [ ]:
import mysql.connector

con = mysql.connector.connect(host='localhost', database='fipe', user='root', password='root')

cursor=con.cursor()

coleta_codeFipe = """


    SELECT  ano, codeFipe FROM fipe.info
    WHERE CAST(modelYear AS UNSIGNED) > 2022 AND CAST(modelYear AS UNSIGNED) < 2050;

    """

cursor.execute(coleta_codeFipe)

result = cursor.fetchall()

result = pd.DataFrame(result)

print(result)

In [ ]:
import mysql.connector

con = mysql.connector.connect(host='localhost', database='fipe', user='root', password='root')

cursor=con.cursor()

coleta_codeFipe = """

        CREATE TABLE IF NOT EXISTS info2 (SELECT codeFipe, ano FROM fipe.info
        WHERE modelYear > 2020 and Ano != '32000-1'); 

        """

cursor.execute(coleta_codeFipe)

coleta_codeFipe2 = """

        SELECT * FROM info2
        WHERE codeFipe = '011198-8' OR codeFipe = '011226-7' OR codeFipe = '001519-9'
        OR codeFipe = '001505-9' OR codeFipe = '001536-9' OR codeFipe = '001544-0'
        OR codeFipe = '003438-0' OR codeFipe = '003457-6' OR codeFipe = '004469-5'
        OR codeFipe = '004511-0' OR codeFipe = '004501-2' OR codeFipe = '004534-9'
        OR codeFipe = '004525-0' OR codeFipe = '014108-9' OR codeFipe = '014109-7'
        OR codeFipe = '015190-4' OR codeFipe = '015165-3' OR codeFipe = '015206-4'
        OR codeFipe = '015138-6' OR codeFipe = '023178-9' OR codeFipe = '023175-4'
        OR codeFipe = '024249-7' OR codeFipe = '025307-3' OR codeFipe = '025300-6'
        OR codeFipe = '025266-2' OR codeFipe = '025290-5' OR codeFipe = '005490-9'
        OR codeFipe = '005525-5' OR codeFipe = '005536-0' OR codeFipe = '005510-7'
        OR codeFipe = '005485-2';
        
        """

cursor.execute(coleta_codeFipe2)

result = cursor.fetchall()

result = pd.DataFrame(result)

print(result)

In [ ]:
for i in range(len(result)):
    x = result[0].iloc[i]
    y = result[1].iloc[i]
    url = 'https://parallelum.com.br/fipe/api/v2/cars/' + x + '/years/' + y + '/history'
    params = {}
    response = requests.request('GET',url, params=params)
    obj = json.loads(response.text)
    print(obj)
    df_histpreco = pd.DataFrame(obj)
    df_histpreco.rename(columns={'code':'codigo', 'name': 'anomod', 'fipe_name':'modelo', 'priceHistory':'preco'},  inplace=True)
    df_histpreco.dropna(inplace=True)
    df_histpreco.to_sql(name='histpreco', con=engine, index=False, if_exists='append')

In [ ]:
for i in range(len(result)):
    o = result[0].iloc[i]
    h = result[1].iloc[i]
    url = 'https://parallelum.com.br/fipe/api/v2/cars/' + o + '/years/' + h + '/history'
    params = {}
    response = requests.request('GET',url, params=params)
    obj = json.loads(response.text)
    z = obj['vehicleType']
    print(z)
    w = obj['brand']
    print(w)
    v = obj['model']
    print(v)
    u = obj['modelYear']
    print(u)
    t = obj['fuel']
    print(t)
    s = obj['codeFipe']
    print(s)

    price_history = obj.get('priceHistory', [])

    r = price_history[0]['price'] if price_history and price_history[0].get('price') is not None else None
    print(r)
    q = price_history[1]['price'] if len(price_history) > 1 and price_history[1].get('price') is not None else None
    print(q)
    p = price_history[2]['price'] if len(price_history) > 2 and price_history[2].get('price') is not None else None
    print(p)

    df_histpreco = pd.DataFrame({'tipoveiculo': [z], 'marca': [w], 'modelo': [v], 'anomodelo': [u], 'tipocombustivel': [t], 'codigofipe': [s], 'novembro': [r], 'outubro': [q], 'setembro': [p]})
    print(df_histpreco)
    df_histpreco.to_sql(name='histpreco', con=engine, index=False, if_exists='append')